:root {
  --primary-color: rgb(169, 216, 232);
  /* --primary-color: #2a4365; */
  --aboutme-color: rgb(86, 139, 86);
  --black-text: black;
  --white-text: white;
  --heroBackground: #2a4365;
  /* --bordershadow: rgba(0, 0, 0, 0.25) 0px 18px 150px -20px; */
  --bordershadow: rgba(8, 3, 3, 0.45) 0px 18px 150px -20px;
}
.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dark-theme {
  --primary-color: linear-gradient(to bottom, black, rgba(30, 20, 18, 1.782));
  /* --aboutme-color: black; */
  --aboutme-color: rgb(86, 139, 86);
  --black-text: white;
  --white-text: black;
  --heroBackground: rgb(86, 139, 86);
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  font-size: 1.2rem;
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.background {
  background: var(--primary-color);
  /* background: black; */
}
.background-aboutme {
  background: var(--aboutme-color);
  /* background: black; */
  color: white;
}
.background-hero {
  background: var(--heroBackground);
}
.background-footer {
  background: black;
}
/* Top header section */
.top-header {
  /* background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 100%,
    black 100%
  ); */
  box-shadow: var(--bordershadow) !important;
  height: 6vh;
  font-size: 1rem;
}
.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  margin: 0 auto;
}
.name-title {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  color: var(--black-text);
  align-self: normal;
  margin-bottom: 2vh;
}
.menu ul {
  display: flex;
  gap: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: var(--black-text);
}
.menu ul li {
  list-style: none;
}
.menu ul li:hover {
  color: red;
  transform: scale(1.2);
}

.verticle-line {
  width: 2px;
  height: 18px;
  background-color: red;
  color: red;
}
/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  font-size: 1rem;
  padding-top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 150px -20px;

  /* position: relative; */
}
.ch-background {
  position: fixed;
  left: 50px;
  cursor: pointer;
}
.ch-background .fa-circle-half-stroke {
  font-size: 1.5rem !important;
  color: var(--black-text);
}
.ch-background:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  position: relative;
}
.hero-detail {
  /* background: var(--heroBackground); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 15px 10%;
  gap: 1rem;
}
.hero-detail h5,
h1,
p {
  color: var(--white-text);
}
.download {
  background: black;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.download a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}
.img-yadin {
  width: 200px;
  min-height: 22vh;
  border-radius: 50%;
}
/* link show section */
.experience {
  display: flex;
  height: 30vh;
}
.experience .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid var(--black-text);
  margin-top: 60px;
  border-radius: 30px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 1) 2px 19px 29px -16px;
  position: relative;
}
.award {
  width: 50px;
  height: 50px;
  background: var(--heroBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* grid-row: 1/2;
  grid-column: 1/1; */
  grid-area: award;
}
.fa-award {
  font-size: 40px;
  color: var(--white-text);
}
.experience-award {
  display: grid;
  grid-template-areas:
    "award award-subject"
    "award award-status";
  gap: 15px;
}

.award-subject {
  /* grid-row: 1/2;
  grid-column: 2/3; */
  grid-area: award-subject;
  color: var(--black-text);
}
.award-status {
  /* grid-row: 2/3;
  grid-column: 2/2; */
  grid-area: award-status;
  /* color: orangered; */
  color: var(--heroBackground);
}
.v-line {
  width: 2px;
  height: 50px;
  background-color: var(--black-text);
  color: var(--black-text);
  align-self: center;
}
.clickTop {
  width: 50px;
  height: 50px;
  background: var(--black-text);
  border-radius: 50%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 90%;
  top: 90%;
  cursor: pointer;
}
.clickTop a {
  text-decoration: none;
  color: var(--white-text);
}
/* skills  */
.skills {
  height: 100vh;
  /* box-shadow: var(--bordershadow); */
}
.skills .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  padding-top: 10%;
}
.sub-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--black-text);
  gap: 50px;
  margin-top: 10vh;
}
.subskill-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.subskill-flex span {
  align-self: center;
}
.title {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  color: var(--black-text);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.subskill-flex span i {
  font-size: 3rem;
  padding: 10px;
}
/* project infomation */
.projects {
  height: 100%;
  /* height: 100vh; */
  padding-bottom: 20px;
  width: 100%;
  /* box-shadow: var(--bordershadow); */
}
.projects-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.pro-title {
  color: var(--black-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
  font-size: 1rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 150px -20px;
  border-radius: 20px;
  padding-bottom: 3rem;
  width: auto;
  background: var(--primary-color);
}
.card img {
  width: 100%;
  height: 90%;
  border-radius: 20px;
}
.techstack {
  font-weight: bold;
}
.git-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 10px;
}

/* about me infomation */
.aboutme {
  height: 100vh;
  /* box-shadow: var(--bordershadow); */
}
.aboutme .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
}
.aboutme .container .content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 1rem;
  letter-spacing: 0.2px;
}
.aboutme-pic img {
  border-radius: 20px;
}
.aboutme-content {
  color: var(--white-text);
}
.aboutme-content p {
  color: var(--white-text);
}
.interest {
  display: flex;
  gap: 10px;
}

/* contact information */
.contact {
  height: 100vh;
  padding-top: 50px;
  /* box-shadow: var(--bordershadow); */
}

.contact-logo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contact-link {
  font-size: 2rem;
  display: flex;
  gap: 10px;
}
.email {
  background: var(--heroBackground);
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: var(--white-text);
}
.r-class {
  color: var(--black-text);
}
/* footer */
.footer {
  height: 10vh;
  color: var(--white-text);
}
.footer .container {
  margin: 0 auto;
}
/* .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
} */
.footer .container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vh;
}
.footer .container ul {
  display: flex;
  gap: 20px;
}
.footer .container div ul li {
  list-style: none;
}
.footer .container div ul a {
  text-decoration: none;
  color: white;
}

[for="ch-menu"] {
  display: none;
}
#ch-menu {
  display: none;
}
/* @media (max-width: 768px) { */
@media (max-width: 890px) {
  .name-title {
    margin: 1vh;
  }
  .top-header .container {
    flex-direction: column;
  }
  .hero {
    height: 100%;
  }
  .hero-detail {
    width: 80%;
    margin-top: 50px;
  }
  .img-yadin {
    width: calc(100vw-150px);
    height: auto;
    border-radius: 50%;
  }
  .experience {
    display: flex;
    height: 50vh;
    width: 100%;
  }
  .experience .container {
    height: 30vh;
    flex-wrap: wrap;
  }
  .experience-award {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills {
    height: 100vh;
  }
  .skills .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    /* padding-left: 10%; */
  }

  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
    height: 100%;
  }

  .pro-title {
    font-size: 1rem;
    text-align: center;
  }
  .aboutme {
    height: 100%;
    padding-bottom: 10px;
  }
  .aboutme .container .content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .clickTop {
    width: 50px;
    height: 50px;
    left: 90%;
    cursor: pointer;
    top: 80%;
  }

  [for="ch-menu"] {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 1%;
  }
  [for="ch-menu"] i {
    color: var(--black-text);
  }
  #ch-menu {
    display: none;
  }
  .menu {
    position: relative;
    position: absolute;
    left: 100%;
    z-index: 1;
    top: 40px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 25px;
    height: 100vh;
    width: 200px;
    background-color: var(--primary-color);
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 1) 2px 19px 29px -16px;
  }
  /* #ch-menu:checked + .menu {
    left: 80%;
  } */
  .slide {
    left: 80%;
  }
}
@media (max-width: 576px) {
  .name-title {
    margin: 1vh;
  }
  .experience {
    height: 80vh;
  }
  .experience .container {
    height: 65vh;
    flex-direction: column;
    gap: 0;
    margin-top: 10%;
  }

  .hero-detail {
    width: 90%;
  }
  .hero-detail h1 {
    font-size: 1.5rem;
  }
  header .container {
    height: 100%;
    margin-bottom: 50px;
  }
  .v-line {
    width: 2px;
    height: 50px;
    transform: rotate(90deg);
  }

  .skills {
    height: 100vh;
  }
  .skills .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .ch-background {
    left: 20px;
  }
  .projects {
    width: 100%;
    /* padding-right: 100px; */
  }

  /* .projects-container {
    display: flex;
    flex-direction: column;
  } */

  .pro-title {
    font-size: 1rem;
    text-align: left;
  }

  .card {
    /* width: 250px; */
    width: 100%;
  }
  .card img {
    width: 100%;
    height: 100%;
  }

  .aboutme {
    height: 100%;
    padding-bottom: 10px;
  }
  .aboutme .container .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    height: 100%;
  }
  .clickTop {
    width: 50px;
    height: 50px;
    left: 90%;
    cursor: pointer;
    top: 80%;
  }

  [for="ch-menu"] {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 1%;
  }
  [for="ch-menu"] i {
    color: var(--black-text);
  }
  #ch-menu {
    display: none;
  }
  .menu {
    position: relative;
    position: absolute;
    left: 100%;
    z-index: 2;
    top: 40px;
    display: none;
  }
  .menu ul {
    flex-direction: column;
    cursor: pointer;
    gap: 25px;
    height: 50vh;
    width: 150px;
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color);
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 1) 2px 19px 29px -16px;
    z-index: 1;
  }
  /* #ch-menu:checked + .menu {
    left: calc(100vw - 150px);
    display: block;
  } */
  .slide {
    left: calc(100vw - 150px);
    display: block;
  }
  .footer {
    font-size: 0.8rem;
  }
}
/* @media (max-width: 458px) {
  #ch-menu:checked + .menu {
    left: 49%;
    display: block;
  }
} */
